<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <h1>GroupIt Create Session</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for messages in messages %}
                <li>{{ messages }}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
        Title:<br>
        {{ form.title(size=80) }}<br>
        </p>
        <p>
        Time:<br>
        {{ form.start_time(size=80) }}<br>
        </p>
        <p>
        Length:<br>
        {{ form.length(size=80) }}<br>
        </p>
        <p>
        Location:<br>
        {{ form.location(size=80) }}<br>
        </p>
        <p>
        Tags:<br>
        {{ form.tags(size=80) }}<br>
        </p>
        Description:<br>
        {{ form.description(size=180) }}<br>
        </p>
        <p><input type="submit" value="Create Session"></p>
    </form></body>
</html>
