<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px;	      
}
#sessions_section {
    width:500px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>
<body>

<div id="header">
    <h1>Results</h1>
</div>

<div id="nav">
<a href={{"/createsession/%s" % username }}>+Session</a><br>
</div>

<div id="sessions_section">
    <h2>Active Sessions</h2>
    <ul class=sessions>
        {% if sessions %}
            {% for s in sessions %}
                <li>
                    <div id=sessions_list>
                        <h3><a href={{ url_for('sessionpage', sid=s[3], 
                                username=username)}}>
                                {{ s[0] }}</a>
                        <h3>
                                <p>{{ s[1] }}, {{ s[2] }}</p>
                    </div>
                </li>
            {% endfor %}
        {% endif %}
</div>

<div id="footer">
    By GroupitDev
</div>

</body>
</html>
